* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	text-align: center;
}

body {
	display: flex;
	flex-flow: row wrap;
}

#gridUser, #gridContainer {
	flex: 1 1 0%;
}

#gridUser {
	flex: 99 99 0%;
}

#gridInput {
	text-align: left;
}
