* {
	box-sizing: border-box;
}

#container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	aspect-ratio: 1/1;
}

.items {
	width: calc(100% / 16);
	height: calc(100% / 16);
	background-color: #eee;
	border: 1px solid #ccc;
}